
body{
    background: rgb(38,29,23);
    background: linear-gradient(90deg, rgba(38,29,23,1) 21%, rgba(34,195,54,1) 100%, rgba(34,140,193,1) 100%); 
}
.img{
    height: 80px;
    width: 80px;
}
.hover2{
    visibility:hidden;
}
.card:hover .hover2{
    visibility: visible;
    
}
